# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2022 cache/options directory
CSharpDotNetFrame/.vs/
CSharpDotNetFrame/WinFormVisualSolution/bin/
CSharpDotNetFrame/WinFormVisualSolution/obj/
